.card-header {
    font-weight: bolder !important;
}

.more-show{
    cursor: pointer;
}

.card-header .d-flex a.btn {
    margin-left: 5px !important;
    margin-right: 5px !important;
}

.sbx-font-size {
    font-size: 14px !important;
}
.sidebar .nav-link .nav-icon {
    width: 1.10rem !important;
}
.sidebar .nav {
    width: 215px !important;
}

.nav-tabs .nav-link.active, .nav-tabs .nav-link.active:focus {
    background: var(--primary) !important;
    color: white !important;
}

.card-custom:after {
    content: "";
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6));
}
.job-list-font .card-title{
    font-size: 14px;
    color: grey;
}
.job-list-font .card-text{
    font-size: 12px;
}

.job-list-title {
    line-height: 20px;
}

.dropdown-item.active, .dropdown-item:active {
    color: var(--defined-primary) !important;
}
